[submodule "dictionaries"]
	path = dictionaries
	url = ../dictionaries
	branch = .
    shallow = true
[submodule "helpcontent2"]
	path = helpcontent2
	url = ../help
	branch = .
    shallow = true
[submodule "translations"]
	path = translations
	url = ../translations
	branch = .
    shallow = true
[submodule "vendor/lowlevel-computer-use-mcp"]
	path = vendor/lowlevel-computer-use-mcp
	url = https://github.com/codingmachineedge/lowlevel-computer-use-mcp.git
